.services {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("backround.jpg");
  background-size: cover;
  background-position: center;
}

.services_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.services_option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  text-decoration: none;
}

.services_icon {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ffff;
  border-radius: 10px;
  margin-bottom: 10px;
}
.services_icon:hover {
  background-color: #ffffff;
  color: #00ffff;
  border: 8px solid #00ffff;
}
.workericon {
  width: 500px;
  height: 400px;
}
.workplaceicon {
  width: 200px;
  height: 200px;
}
.locationicon {
  width: 200px;
  height: 200px;
}

.services_label {
  font-size: 24px;
  color: #000;
  position: absolute;
  margin: 250px;
}
